<% title 'Exporting Sketches' %>
<h1>Exporting Sketches</h1>
<p>Exporting sketches is very easy with Sketch Lab. This tutorial will show you
how.</p>
<p>Open the sketch that you want to export.</p>
<%= screenshot 1 %>
<p>At the bottom of the page, click the format that you want to export to.</p>
<%= screenshot 2 %>
