- title 'Exporting Sketches'
%h1 Exporting Sketches
%p Exporting sketches is very easy with Sketch Lab. This tutorial will show you how.
%p Open the sketch that you want to export.
= screenshot 1
%p At the bottom of the page, click the format that you want to export to.
= screenshot 2
