<% title @name.capitalize %>
<h1>How to export sketches</h1>
<p>Exporting sketches is very easy with Sketch Lab. This tutorial will show you
how.</p>
<p>Open the sketch that you want to export.</p>
<!-- TODO: Screenshot -->
<p>At the bottom of the page, click the format that you want to export to.</p>
<!-- TODO: Screenshot -->