<% title "Help" %>
<p>If you have a question about Sketch Lab, you've come to the right place.</p>
  
<p>Still have a question? Visit our support site at <%= link_to "support.sketchlabhq.com", "http://support.sketchlabhq.com" %>.</p>
