<% title "Help" %>
<script type="text/javascript">
$(init);
function init() {
  //expand FAQ answers on click
  $(".question").click(function() {
    $(this).next().toggle("slow");
    return false;
  }).next().hide();
}
</script>
<h2>FAQ</h2>
<p>Click a question to expand the answer</p>
<div id="faq">
<!-- TODO: add a search form -->
<!-- loop through the FAQ's and display them -->
<% @faqs.each do |q| %>
  <%= faq q.question, q.answer %>
<% end %>
</div>
<p>Still have a question? Visit our support site at <%= link_to "support.sketchlabhq.com", "http://support.sketchlabhq.com" %>.
