<% title @name.capitalize %>
<h1><%= @name.capitalize %></h1>
<p>Here is a video tour of Sketch Lab. For further assistance, please visit our
<a href="/help">help center</a>.</p>
<!-- TODO: video tour -->