<% title @name.capitalize %>
<h1><%= @title %></h1>
<p>Here is a video tour of Sketch Lab. For further assistance, please visit our
<a href="/help">help center</a>.</p>
<iframe title="YouTube video player" width="640" height="510" src="http://www.youtube.com/embed/4ZHYEv8OmoQ?rel=0" frameborder="0" allowfullscreen></iframe>
