<% title 'Plans and Pricing' %>
<h1><%= @title %></h1>
<p>Sketch Lab offers three types of accounts ("plans"):</p>
<ol>
  <li>Free</li>
  <li>Paid</li>
  <li>Student</li>
</ol>
<h2>Free</h2>
<p>When you sign up for sketch lab, you will automatically be on the free plan until you <a href="/account">upgrade</a> your account. The free plan allows you to try out the basic features of Sketch Lab for an unlimited amount of time. The free plan has several limitations that you can remove by <a href="/account">upgrading</a> to the paid plan.</p>
<h2>Paid</h2>
<p>The paid plan includes all the cool features of Sketch Lab. To upgrade, go to the <a href="/account">account</a> page and follow the instructions under the "Subscription" section.</p>
<h2>Student</h2>
<p>If you are a student, you can <a href='http://sketchlab.mojohelpdesk.com/mytickets/create'>submit a support ticket</a> requesting a student account. Be sure to include the name of the school you are a student at.</p>
