- title 'Limits and Quotas'
%h1= @title
%p Users on the basic plan have a limit of up to one sketch. Once you #{link_to 'upgrade', account_path} to the premium plan, you can have as many sketches as you want.
