<% title 'Limits and Quotas' %>
<h1><%= @title %></h1>
<p>Users on the free plan have a limit of up to one sketch. Once you <a href="/account">upgrade</a> to the paid plan, you can have as many sketches as you want.</p>
