- title 'Searching for Sketches'
%h1= @title
%b Note: This feature only applies to users on the premium plan. #{link_to 'Learn More', '/help/plans'}
%p If you have a lot of sketches, you may have trouble finding just the one you want. To help with this, Sketch Lab offers a special feature that allows you to search your sketches. Watch the following video for a demonstration.
%iframe{:title => "YouTube video player", :width => "640", :height => "510", :src => "http://www.youtube.com/embed/UB1B6mDRGb8?rel=0", :frameborder => "0", :allowfullscreen => 'allowfullscreen'}
