<% title 'Footers on Exported Sketches' %>
<h1><%= @title %></h1>
<p>Sketch Lab users that are not on the paid plan will have a footer on their exported sketches that says "Created with the Sketch Lab free plan" (student accounts have a slightly different version). You can <a href="/account">upgrade</a> to the paid plan to remove this limitation.</p>
