<% title 'Footers on Exported Sketches' %>
<h1><%= @title %></h1>
<p>Sketch Lab users that are not on the premium plan will have a footer on their exported sketches that says "Created with Sketch Lab (sketchlabhq.com)". You can <a href="/account">upgrade</a> to the premium plan to remove this limitation.</p>
