.background {
  background-color: LightSkyBlue;
}
.mainContent {
  position: absolute;
  left: 50px;
  right: 50px;
  top: 50px;
  bottom: 50px;
  border-style: solid;
  border-color: black;
  background-color: white;
  padding: 5px;
}