/* for PDFKit */
@media print {
  .widget {
    font-size: 14px !important;
  }
}
/* for webkit browsers */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .widget {
    font-size: 16px !important;
  }
}
/* jQuery UI buttons */
button {
  font-size: 14px !important;
}
/* overide jQuery UI */
.ui-resizable-handle {
  z-index: auto !important;
}
/* context menu */
.contextMenuImg {
  height: 16px;
  width: 16px;
}
/* for all widgets */
.widget {
  position: absolute;
  text-align: center;
  cursor: move;
  border-color: black;
  background-color: white;
  overflow: hidden;
  font-size: 12px;
}
/* for specific widgets */
/* containers */
.window {
  border-style: solid;
  border-top-width: 10px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-right-width: 2px;
  height: 200px;
  width: 200px;
}
.phone {
  border-style: solid;
  border-top-width: 20px;
  border-bottom-width: 20px;
  border-left-width: 2px;
  border-right-width: 2px;
  height: 140px;
  width: 100px;
}
/* shapes */
.rectangle {
  border-style: solid;
  border-width: 1px;
  height: 20px;
  width: 50px;
}
.rounded-rectangle {
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  height: 20px;
  width: 50px;
}
.ellipse {
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  width: 50px;
}
/* buttons */
.button {
  border-style: solid;
  border-width: 2px;
  -moz-box-shadow: 0px 0px 4px gray;
  -webkit-box-shadow: 0px 0px 4px gray;
  box-shadow: 0px 0px 4px gray;
  -moz-border-radius: 15%;
  -webkit-border-radius: 15%;
  border-radius: 15%;
  height: 20px;
  width: 50px;
}
.checkbox {
  border-style: solid;
  border-width: 2px;
  -moz-box-shadow: 0px 0px 4px gray;
  -webkit-box-shadow: 0px 0px 4px gray;
  box-shadow: 0px 0px 4px gray;
  -moz-border-radius: 5%;
  -webkit-border-radius: 5%;
  border-radius: 5%;
  width: 13px;
  height: 13px;
}
.radio {
  border-style: solid;
  border-width: 2px;
  -moz-box-shadow: 0px 0px 4px gray;
  -webkit-box-shadow: 0px 0px 4px gray;
  box-shadow: 0px 0px 4px gray;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 13px;
  height: 13px;
}
/* text */
.label {
  text-align: left;
  white-space: nowrap;
  height: 1em;
  width: auto;
}
.textbox {
  border-style: inset;
  text-align: left;
  white-space: nowrap;
  height: 1.2em;
  width: 75px
}
.textarea {
  text-align: left;
  height: auto;
  border-style: inset;
}
/* misc */
.progress {
  border-style: groove;
  border-width: 2px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  height: 20px;
  width: 75px;
}
.link {
  text-align: left;
  height: auto;
  width: auto;
  text-decoration: underline;
  color: blue;
}
.menu {
  border-style: solid;
  border-width: 2px;
  text-align: left;
  white-space: nowrap;
  height: 1.2em;
  width: auto;
}
.note {
  border-style: solid;
  border-color: orange;
  /* cross browser */
  -ms-border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  /* css3 */
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  height: 200px;
  width: 200px;
  background: #FFFF66;
}
