<div id="sketches">
  <% if @sketches.length > 0 %>
    <ul id="sketchList" data-role="listview" <%= 'data-filter="true"' if current_user.plan == "paid" %>>
      <% @sketches.each do |sketch| %>
        <li><%= link_to sketch.name, "/edit/#{sketch.id}" %></li>
      <% end %>
    </ul>
  <% else %>
    <b>No Sketches! Go to the <%= link_to 'desktop version', root_url(:mobile => 0) %> to create a new one.</b>
  <% end %>
</div>
