<script type="text/javascript">
$(function() {
  $("#cancelDialog").dialog({
      autoOpen: false,
      modal: true
      //TODO: add buttons
    });
  $("#cancelAccountBtn").button().click(function() {
    $("#cancelDialog").dialog("open");
  });
});
</script>
<h1>Account</h1>
<fieldset>
  <legend>Subscription</legend>
  <button id="cancelAccountBtn">Cancel Account</button>
</fieldset>
<div id="cancelDialog">
If you cancel your account, all of your sketches will be lost. This cannot be undone.
If you want a cheaper plan, you can downgrade your account instead.
Are you sure you want to delete your account?
</div>
