<% title "Account" %>
<h1><%= @title %></h1>
<fieldset>
  <legend>Subscription</legend>
  <% if current_user.plan == "free" %>
    You are currently on the free plan. Upgrade your account to get more features.
    Note: it may take a few minutes for the upgrade to take effect.
    <br /><br />
    <%= form_tag APP_CONFIG[:paypal_url] do %>
      <%= hidden_field_tag :encrypted, current_user.paypal_encrypted(notify_url) %>
      <input type="image" src="https://sketchlab.duostack.net/images/upgrade.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <% end %>
    <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="custom" value="<%= current_user.id %>">
    <input type="hidden" name="hosted_button_id" value="LER8U8SPLCUN2">
    <input type="image" src="https://sketchlab.duostack.net/images/upgrade.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>-->
  <% else %>
    You are on the paid plan. Click "Downgrade" to downgrade to the free plan.
    Note: it may take a few minutes for the downgrade to take effect.
    <br /><br />
    <A HREF="https://www.sandbox.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=XBZ7SZ9FMY4H2" style="background-color:transparent !important">
    <IMG SRC="https://sketchlab.duostack.net/images/downgrade.png" BORDER="0">
    </A>
  <% end %>
</fieldset>