<script type="text/javascript">
$(function() {
  $("#cancelDialog").dialog({
      width: 400,
      height: 250,
      autoOpen: false,
      modal: true,
      buttons: {
        "Cancel": function() {
          $(this).dialog("close");
        },
        "I understand, cancel my account": function() {
          window.location = "/account/cancel?confirmed=true"
          $(this).dialog("close");
        }
      }
    });
  $("#cancelAccountBtn").button().click(function() {
    $("#cancelDialog").dialog("open");
  });
});
</script>
<h1>Account</h1>
<fieldset>
  <legend>Subscription</legend>
  <button id="cancelAccountBtn">Cancel Account</button>
</fieldset>
<div id="cancelDialog">
If you cancel your account, all of your sketches will be lost. This cannot be undone.
Your account will be cancelled at the end of the billing term. You will not be billed again.
If you want a cheaper plan, you can downgrade your account instead.
Are you sure you want to cancel your account?
</div>
