<!-- canvas -->
<div id="canvas"></div>
<!-- edit dialog -->
<div id="editDialog">
  <label for="widgetTxt" id="widgetTxtLbl">Text:</label>
  <input type="text" id="widgetTxt" />
  <label for="checked" id="checkedLbl">Checked:</label>
  <input type="checkbox" id="checked" />
  <br />
  <label for="forecolor">Foreground:</label>
  <input type="text" id="forecolor" />
  <br />
  <label for="backcolor">Background:</label>
  <input type="text" id="backcolor" />
  <br />
  <input type="checkbox" id="bold" />
  <label for="bold" id="boldLbl">Bold</label>
  &nbsp;
  <input type="checkbox" id="italic" />
  <label for="italic" id="italicLbl">Italic</label>
  &nbsp;
  <input type="checkbox" id="underline" />
  <label for="underline" id="underlineLbl">Underline</label>
  <br />
  <label for="fontsize" id="fontsizeLbl">Font Size:</label>
  <input type="text" id="fontsize" />
  <br />
  <label for="textalign" id="textalignLbl">Text Alignment</label>
  <select id="textalign">
  	<option value="left">Left</option>
  	<option value="center">Center</option>
  	<option value="right">Right</option>
  </select>
</div>
<!-- context menu -->
<div class="contextMenu" id="contextMenu">
  <ul>
    <li id="edit"><img class="contextMenuImg" src="/images/pencil.png" /> Edit</li>
    <li id="cut"><img class="contextMenuImg" src="/images/cut.png" /> Cut</li>
    <li id="copy"><img class="contextMenuImg" src="/images/copy.png" /> Copy</li>
    <li id="delete"><img class="contextMenuImg" src="/images/delete.png" /> Delete</li>
    <li id="rotate"> Rotate 90&deg;</li>
    <li id="front"> Bring to Front</li>
    <li id="forward"> Bring Forward</li>
    <li id="backward"> Send Backward</li>
    <li id="back"> Sent to Back</li>
  </ul>
</div>
