- title 'Contributing'
%p{:style => "text-align:justify"}
  We appreciate your interest in Sketch Lab. Sketch Lab is open source, released under Version 3 of the #{link_to 'GNU Affero General Public License', 'http://www.gnu.org/licenses/agpl-3.0.html', :target => 'blank'} (AGPL). The source code is hosted on #{link_to 'GitHub', 'https://github.com/Heigh-Tech/sl'}.
  %br
  If you would like to contribute to Sketch Lab, please follow these instructions:

%ol
  %li Fork the project on Github (#{link_to 'github.com/Heigh-Tech/sl', 'https://github.com/Heigh-Tech/sl'})
  %li Commit your changes
  %li Create a pull request and wait for a response from us!

%p If you need help with any of the above steps, GitHub has some really good guides to help you along. See #{link_to 'help.github.com', 'http://help.github.com/'}.
