<p style="text-align:justify">We appreciate your interest in Sketch Lab. Sketch Lab is open source,
released under Version 3 of the <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public
License</a> (AGPL). The source code can be found on <a href="http://github.com/Heigh-Tech/sl">Github</a>.<br />
If you would like to contribute to Sketch Lab, please follow these instructions:<br /></p>
<ol>
  <li>Fork the project on Github (<a href="http://github.com/Heigh-Tech/sl">http://github.com/Heigh-Tech/sl</a>)</li>
  <li>Commit your changes</li>
  <li>Create a pull request and wait for a response from us!</li>
</ol>
<p>If you need help with any of the above steps, Github has some really good guides to help you along. See
<a href="http://help.github.com/">http://help.github.com/</a></p>