<%= include_stylesheets :mobilecanvas, :media => "all" %>
<%= include_javascripts :mobilecanvas %>
<script type="text/javascript">
localStorage["data"] = '<%= @sketch.content.html_safe %>';
</script>
<div id="canvas"></div>
<!-- buttons for changing the canvas' size -->
<div style="text-align:center">
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="arrow-l" id="reduceWBtn" data-iconpos="notext">Reduce Canvas Width</a>
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="arrow-d" id="increaseHBtn" data-iconpos="notext">Increase Canvas Height</a>
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="arrow-u" id="reduceHBtn" data-iconpos="notext">Reduce Canvas Height</a>
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="arrow-r" id="increaseWBtn" data-iconpos="notext">Increase Canvas Width</a>
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="plus" id="zoomInBtn" data-iconpos="notext">Zoom In</a>
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="minus" id="zoomOutBtn" data-iconpos="notext">Zoom Out</a>
	<a href="#" data-role="button" data-theme="b" data-inline="true" data-icon="refresh" id="resetCanvasBtn" data-iconpos="notext">Reset Canvas</a>
</div>
