<script type="text/javascript">
function validate() {
  if ($("#newTxt").val() == "") {
    $("#newTxt").addClass("field_with_errors");
    $("#validationErrors").hide();
    $("#nullErrors").show();
    return false;
  } else if (!$("#newTxt").val().match(/^[a-zA-Z0-9_-]+$/)) {
    $("#newTxt").addClass("field_with_errors");
    $("#nullErrors").hide();
    $("#validationErrors").show();
    return false;
  } else {
    create();
    return true;
  }
}
function create() {  
  var url = "new/";
  url += $("#newTxt").val();
  //redirect browser to url for creating sketches
  f = document.forms["newForm"];
  f.action = url;
  f.onsubmit = null;
  f.submit();
}
</script>
<% if current_user %>
<fieldset><legend>Your Sketches</legend>
<% sketches = current_user.sketches %>
<% if sketches.length > 0 %>
<table>
  <!--<tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>-->
  <% sketches.each do |sketch| %>
  <tr>
    <td><%= link_to sketch.name, "/edit/#{sketch.id}" %></td>
    <td><%= link_to "Delete", "/delete/#{sketch.id}" %></td>
  </tr>
  <% end %>
</table>
<% else %>
<b>No Sketches! Create a new one below to get started.</b>
<% end %>
</fieldset>
<div id="nullErrors" style="display:none;color:red">Please enter a name</div>
<div id="validationErrors" style="display:none;color:red">Only letters, numbers, hyphens and underscores are allowed</div>
<form id="newForm" onsubmit="return validate()">
<fieldset>
<legend>New Sketch</legend>
  <input type="text" id="newTxt" /><input type="submit" value="New Sketch" />
</fieldset>
</form>
<% else %>
Welcome to Sketch Lab! Please <%= link_to "sign in", signin_path %> to see your sketches.
<% end %>
