<p>You need to sign in or sign up to edit sketches. With Sketch Lab, signing up
and signing in is as easy as linking your Google account. Click the button below
to get started.</p>
<a href="/auth/google" rel="external" data-role="button">Sign in / Sign Up</a>