<script type="text/javascript">
function create() {  
  var url = "new/";
  url += $("#newTxt").val();
  //redirect browser to url for creating sketches
  f = document.forms["newForm"];
  f.action = url;
  f.onsubmit = null;
  f.submit();
}
</script>
<% if current_user %>
<h1>Your Sketches</h1>
<% sketches = current_user.sketches %>
<% if sketches.length > 0 %>
<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% sketches.each do |sketch| %>
  <tr>
    <td><%= link_to sketch.name, "/edit/#{sketch.id}" %></td>
    <td><%= link_to "Delete", "/delete/#{sketch.id}" %></td>
  </tr>
  <% end %>
</table>
<% else %>
<h3>No Sketches!</h3>
<% end %>
<form id="newForm" onsubmit="create()">
  <input type="text" id="newTxt" /><input type="submit" text="add" />
</form>
<% else %>
Welcome to SimpleSketch! Please <%= link_to "sign in", signin_path %> to see your sketches.
<% end %>
