table.public {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.public td, .public th {
  padding: 4px 10px;
  border: solid 1px #AAA;
}

.public th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.public th .asc {
  background-image: url(/images/up_arrow.gif);
}

.public th .desc {
  background-image: url(/images/down_arrow.gif);
}
